/*
body {
    margin: 0;
    padding: 0;
    background: lightblue no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

body {
    margin: 0;
    padding: 0;
    -webkit-animation: colorchange 60s infinite;
    animation: colorchange 75s infinite;
}


/*Breathing color background changes   */

@-webkit-keyframes colorchange {
    0% {
        background: rgb(175, 188, 199);
    }
    25% {
        background: rgb(134, 169, 197);
    }
    50% {
        background: rgb(85, 138, 182);
    }
    75% {
        background: rgb(48, 124, 185);
    }
    100% {
        background: rgba(0, 96, 175, 0.671);
    }
}

@keyframes colorchange {
    0% {
        background: rgb(175, 188, 199);
    }
    25% {
        background: rgb(134, 169, 197);
    }
    50% {
        background: rgb(85, 138, 182);
    }
    75% {
        background: rgb(48, 124, 185);
    }
    100% {
        background: rgb(0, 96, 175);
    }
}

.jumbotron {
    padding: 0;
}


/*Pre-load */

.spinner {
    width: 80px;
    /* Define the size */
    height: 80px;
    border: 2px solid #f3f3f3;
    /*Make it round */
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
    /*make it spin */
}

@keyframes
/*Animation */

spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
}