body {
    margin: 0;
    padding: 0;
    background: lightblue no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}